* {
  font-size: 30px;
  font: bolder;
}

.fluid-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: pink;
}

.form {
  margin: auto;
  margin-top: 100px;
  /*background-color: white;*/
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: transparent !important;
  box-shadow: none !important;
}

label {
  margin: auto;
  font-family: "Dancing Script", cursive;
  background-color: white;
  box-shadow: 3px 5px 20px 2px #888888;
  padding: 25px;
  border-radius: 30px;
}

#favcolor {
  width: 180px;
  height: 180px;
  border: black;
  margin: auto;
  margin-top: -10px;
  border: 15px solid white;
  border-radius: 20px;
}
